<div class="card-body">
  <button id="refresh-btn" class="btn" (click)="refresh()">Refresh Data</button>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Role</th>
        <th>Address</th>
        <th>Customer</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr app-user-table-row  [user]="user" (userChanged)="userDeleted($event)" *ngFor="let user of users"></tr>
      </tbody>
    </table>
  </div>
</div>
<div class="add-user-container">
  <button class="btn btn-primary" routerLink="/add-user" (click)="addUser()">Add User</button>
</div>
